<!doctype html>

<html>


<head>
    <link rel="stylesheet" href="static/home.css">

    <title>Clothes Size Predictor</title>
</head>

<h2>Clothing Size Predictor:</h2>

<h3>Given a value for your height, weight, and age. This machine learning algorithm will attempt to predict your clothing size!</h3>
<br>



<form class="row g-2" action="{{ url_for('home') }}" method="POST">
    <fieldset>
    <h2>Input Values:</h2>
    <div class="mb-3">
    <h4>Height (cm)</h4>
    <input name="height" type="number" class="form-control" placeholder="For Example: 170" required>
    </div>
    <div class="mb-3">
    <br><h4>Weight (kg)</h4>
    <input name="weight" type="number" class="form-control" placeholder="For Example: 55" required>
    </div>
    <div class="mb-3">
    <br><h4>Age</h4>
    <input name="age" type="number" class="form-control" placeholder="For Example: 25" required>
    </div class="mb-3">
    <br><button type="submit" class="btn btn-outline">Submit Query</button>
    </fieldset>
</form>

<br>

<div class="result" align="center">
    <br>
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}{% if not variable.last %};&nbsp;&nbsp;{% endif %}
        {% endfor %}
        <br>
        <br> 
        Predicted clothing size:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>