<!doctype html>

<html>
<head>
    <title>Clothes Size Predictor</title>
</head>

<form action="{{ url_for('home') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Height (cm):
        <input name="height" type="number" required>
        <br>
        <br> Weight (kg):
        <input name="weight" type="number" required>
        <br>
        <br> Age:
        <input name="age" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<br>

<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted clothing size:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>